.page3 {
  background-color: #fff;
  overflow: hidden;

}

.wrapper {
  padding: 10px;
}

.title {
  font-weight: 500;
  font-size: 20px;
  padding: 18px 0;
  border-bottom: 1px solid #e8e8e8;
}

.banner {
  margin-top: 16px;
  width: 100%;
}

.content {
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
}
