.page4 {
  position: relative;
  background: #001459;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.btn {
  background-image: linear-gradient(134deg, #FFE9D4 0%, #FFDAA5 100%);
  color: #00164E;
}

.btns {
  position: absolute;
  bottom: 88px;
  display: block;
}