

.article {
  .title {
    margin: 20px auto;
    font-size: 22px;
    text-align: center;
  }
  .content {
    padding: 0 1em 1em 1em;
    text-indent: 2em;
    line-height: 1.5em;
    margin: 0;
  }
}